/* whole webpage */
* {
    font-family: Arial;
}

/* Top-Menu */
div.top_menu menu {
    position: fixed;
    top: 0;
    width: 99%;
    height: 55px;
    list-style-type: none;
    padding: 10px;
    background-color: green;
    box-sizing:border-box;
    overflow: visible;
    border-radius: 5px;
}

div.top_menu li {
    float: left;
}

div.top_menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/* Posts section */
.posts {
    margin-top: 75px;
    margin-bottom: 5px;
}

/* Each post */
.post {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: darkcyan;
}

.user_info {
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center
}

.user_info img {
    border-radius: 10%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
    width: 70px;
    height: 70px;
}

.post_time {
    color: white;
}

.post_info {
    color: white;
    padding: 10px;
}

.login_form {
    height: 200px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-top: -100px;
    margin-left: -150px;
    padding: 16px;
    text-align: center;
}

.login_form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_form button:hover {
    opacity: 0.8;
}

.login_form button {
    background-color: rgb(37, 175, 39);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_form .message {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    color: #9F6000;
	background-color: #FEEFB3;
}

.reload_butt input {
    position: fixed;
    margin: 1em 0; 
    padding: 0.6em 1em; 
    font-size: 1em; 
    background-color: #ff1a1a; 
    color: #FFF; 
    cursor: pointer; 
    border-radius: 3px; 
    border: 0; 
    transition: 0.3s; 
    bottom: 0px;
    right: 30px;
}

.reload_butt input:hover{
    background-color: #ff1a1a87;
}

/* Friends section */
.friends {
    margin-top: 100px;
    margin-bottom: 5px;
}

/* Each friend */
.friend {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: darkcyan;
}

.friend_user_info {
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center
}

.friend_user_info img {
    border-radius: 10%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
    width: 70px;
    height: 70px;
}

.post_butt input {
    position: fixed;
    margin: 1em 0; 
    padding: 0.6em 1em; 
    font-size: 1em; 
    background-color: #ff1a1a; 
    color: #FFF; 
    cursor: pointer; 
    border-radius: 3px; 
    border: 0; 
    transition: 0.3s; 
    bottom: 0px;
    right: 20%;
}

.post_butt input:hover{
    background-color: #ff1a1a87;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 10px;
    right: 120px;
    width: 280px;
}

.form-popup {
display: none;
position: fixed;
bottom: 10;
right: 120px;
border: 3px solid #000000;
z-index: 9;
}

.form-post {
max-width: 300px;
padding: 10px;
background-color: white;
}

.form-post input[type=text]{
width: 250px;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form-post input[type=text]:focus{
background-color: #ddd;
outline: none;
}

.form-post .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-post .cancel {
background-color: red;
}

.form-post .btn:hover, .open-button:hover {
opacity: 1;
}

.search_result {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: darkcyan;
}