doctype html
head
  link(rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css')
  title Fakebook
.top_menu
  menu
    li
      a(href='/') Home
    li
      a(href='/friend') Friend
    li
      a(href='/my_page') My Page
.posts(id = 'home_posts')

  for mypost in myposts
    .post(id = 'post')
      .user_info
        img(src='/images/user_pic.png' alt='userpic')
        |             #{username} &nbsp;
        span.post_time #{mypost.time}
      .post_info
        p #{mypost.post}
      
  if message
    .post(id = 'post')
      .user_info
        img(src='/images/user_pic.png' alt='userpic')
        |             Your Friend &nbsp;
      .post_info
        p #{message}

button.open-button(onclick='openPost()') CREATE POST
#FormPost.form-popup
  form.form-post(action='/create_post' method='post')
    label(for='post')
      b Write HERE!
    input(type='text' placeholder="What's on your mind?" name='post' required='')
    button.btn(type='submit' onclick='closePost()') POST
    button.btn.cancel(type='button' onclick='closePost()') Close

.reload_butt  
  input(type='button' value='Update' id="update_mypage")
  
script(src='/javascripts/client.js')