doctype html
head
  link(rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css')
  title Fakebook
.top_menu
  menu
    li
      a(href='/') Home
    li
      a(href='/friend') Friend
    li
      a(href='/my_page') My Page
.posts(id = 'home_posts')

  for mypost in myposts
    .post(id = 'post')
      .user_info
        img(src='/images/user_pic.png' alt='userpic')
        |             #{username} &nbsp;
        span.post_time #{mypost.time}
      .post_info
        p #{mypost.post}
      
  if message
    .post(id = 'post')
      .user_info
        img(src='/images/user_pic.png' alt='userpic')
        |             Your Friend &nbsp;
      .post_info
        p #{message}
  
script(src='/client.js')