doctype html
head
  link(rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css')
  title Fakebook
.login_form
  form(method='POST' action='/signup')
    label(for='uname')
      b Username
    input(type='text' name='username' required='')
    label(for='psw')
      b Password
    input(type='password' name='password' required='')
    button(type='submit') Sign UP

    if message
        .message !{message}